%form{action: "/#{menu_item.id}", enctype: "multipart/form-data", method: "PUT", role: "form"}
  .form-group
    %label{for: "Name"} Name
    %input.form-control{name: "menu_item[name]", placeholder: "name", type: "text", value: menu_item.name}/
  .form-group
    %label{for: "Description"} Description
    %textarea.form-control{name: "menu_item[description]", placeholder: "describe your menu item", rows: "3", type: "textarea", value: menu_item.description}
  .form-group
    %label{for: "Price"} Price
    %input{name: "menu_item[price]", type: "text"}/
