.heading
  .content
    %h2="#{category}"
  %a.toggle.down{:href => "javascript:;"} Menu Choices
.content
  %ul
    -MenuDB.menu_items("#{category}").each do |menu_item|
      = render :partial "menu_item"
