#admin_dashboard.main_content
  %h2 Admin Dashboard
  %ul
    %li
      %a{:href => "/edit_brunch_menu"}Edit Brunch Menu
    %li
      %a{:href => "/edit_regular_menu"}Edit Regular Menu
    %li
      %a{:href => "/logout"}Logout
