#admin_dashboard.main_content
  .page_heading
    %h2 Admin Dashboard
  %ul
    %li
      %a{:href => "/edit_brunch_menu"}Edit Brunch Menu
    %li
      %a{:href => "/edit_regular_menu"}Edit Regular Menu
    %li
      %a{:href => "/add_menu_item"} Add Menu Item
    %li
      %a{:href => "/logout"}Logout
