#homepage.main_content
  / Start Welcome
  #welcome
    .about
      %h2 Innovative American Cuisine
      %p
        Jimmy’s Urban Bar and Grill  offers innovative American  cuisine using the freshest ingredients We are continuously focused on bringing our guests Killer Cuisine using high-quality ingredients. The result is a menu of bold  fusion flavors you are sure to crave. While we pride ourselves on creativity,
        %br/
        we never lose sight of serving warm, tasty comfort food and Killer cocktails.
    .gallery
      %ul
        %li
          %a.gallery_image{:href => "images/content/home-gallery_large_1.jpg", :rel => "gallery_images", :title => "Our Bar (Photo Courtesy of Lori Midson / Westword)"}
            %img{:alt => "", :src => "images/content/home-gallery_1.jpg"}/
          %span Bar
        %li
          %a.gallery_image{:href => "images/content/home-gallery_large_2.jpg", :rel => "gallery_images", :title => "Dining Area (Photo Courtesy of Lori Midson / Westword) "}
            %img{:alt => "", :src => "images/content/home-gallery_2.jpg"}/
          %span Dining Room
    .shadow
  / End Welcome
  / Start Details
  #details
    #specials.one_third
      %h2 Specials
      %ul
        %li
          %img{:alt => "", :src => "images/content/item-thumb_3.jpg"}/
          .description
            %strong Greek Nachos
            %p Flash fried pita bread, hummus, gyro meat drizzled with red pepper aioli and riata sauce.
            %span.price $7
    #hours_location.one_third
      %h2 Hours &amp; Location
      %p
        %b Address
        %br/
        1530 Blake St Unit B
        %br/
        Denver, CO 80202
        %br/
        (303) 298-5000
        %br/
      %p
        %b Hours
        %br/
        Mon-Wed: 11am-10pm
        %br/
        Thurs: 11am-12am
        %br/
        Fri-Sat: 10am-1am
        %br/
        Sun: 10am-9pm
        %br/
      .map
        %a{:href => "location.html", :target => "_self"}
          %img{:src => "images/map.PNG"}/
          %a
      .OTButton
        %script{:src => "http://www.opentable.com/ism/link.aspx?rid=112705&restref=112705&bgimage=http://www.opentable.com/img/frontDoor/ot_btn_red.png&hover=1", :type => "text/javascript"}
        %noscript#OT_noscript
          %a{:href => "http://www.opentable.com/jimmys-urban-bar-and-grill-reservations-denver?rtype=ism&restref=112705"} Reserve Now On OpenTable.com
        %a#OTPoweredBy.OTPoweredBy{:href => "http://www.opentable.com/jimmys-urban-bar-and-grill-reservations-denver?rtype=ism&restref=112705"} Powered By OpenTable
    #about_us.one_third.column_last
      %h2 About Us
      %p Whether this is your first visit or you’re a returning guest, we promise to make your dining experience memorable and the best value in town. Owned and operated by Chef Jimmy and Jim and Alicia Bernat, it is located in the heart of Denver between Coors Field and the Pepsi Center on 1530 Blake street.  Jimmy serves lunch / dinner  seven days a week and brunch on Saturday and Sunday in a casual and comfortable atmosphere.
      %p The Urban décor is accented with local artist’s paintings on spice colored walls, highlighted by natural light from an impressive 3 story skylight dining room, red brick floors, copper, stainless metal and exposed ceilings, done in a contemporary and uncluttered style  provides a comfortable and unique place to escape from the stress of everyday life, to relax and enjoy a fun, casual dining experience .
  / End Details