/ Start Page Content
#hours_location.main_content
  .page_heading
    %h1 Hours &amp; Location
  %p.center Great location in central downtown. Just 1/2 block South of 16th St. Mall on Blake
  .location
    .details
      %h4 Downtown Denver
      %p
        1530 Blake St. Unit B
        %br/
        Denver, CO 80202
        %br/
        (303) 298-5000
        %br/
        %br/
        %b Mon-Wed:
        11:00 AM - 10:00 PM
        %br/
        %b Thurs:
        11:00 AM - 12:00 AM
        %br/
        %b Fri-Sat:
        10:00 AM - 1:00 AM
        %br/
        %b Sunday:
        10:00 AM - 9:00 PM
        %br/
    .map
      %iframe{:frameborder => "0", :height => "162", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1530+Blake+Street,+Denver,+CO&amp;aq=0&amp;oq=1530+blake&amp;sll=38.997934,-105.550567&amp;sspn=7.041668,14.27124&amp;ie=UTF8&amp;hq=&amp;hnear=1530+Blake+St,+Denver,+Colorado+80202&amp;ll=39.749914,-104.999529&amp;spn=0.001701,0.003484&amp;t=m&amp;z=14&amp;output=embed&iwloc=near", :width => "294"}
    .directions
      %a.driving{:href => "http://maps.google.com/maps?daddr=1530+Blake+Street,+Denver,+CO&hl=en&sll=39.750066,-104.999619&sspn=0.006805,0.013937&geocode=FbKJXgIdPdW9-SnJ2Y7xxHhshzGnrmHKl9zgRg&mra=prev&t=m&z=17", :target => "_blank"} Get Driving Directions
      %a.menu{:href => "menu_3.html"} View Menu
      %a.reservation{:href => "http://www.opentable.com/jimmys-urban-bar-and-grill-reservations-denver?restref=112705", :target => "new"} Reserve now
/ End Page Content
