/ Start Page Content
#items.accordion.main_content
  .page_heading
    %h1 Test Menu - from db
  -MenuDB.new.categories.each do |category|
    =haml :category_view, locals: {category: category}
  / End Page Content
